test/StealthChallenge.Tests/bin/
test/StealthChallenge.Tests/obj/
src/StealthChallenge.Abstractions/.vs/
src/StealthChallenge.Abstractions/bin/
src/StealthChallenge.Abstractions/obj/
src/StealthChallenge.Domain/bin/
src/StealthChallenge.Domain/obj/
src/StealthChallenge.Infrastructure/bin/
src/StealthChallenge.Infrastructure/obj/
src/StealthChallenge.StateMachine/bin/
src/StealthChallenge.StateMachine/obj/
_/
src/StealthChallenge.Logging/obj/
src/StealthChallenge.Logging/bin/
.vs/
src/StealthChallenge.Api/bin/
src/StealthChallenge.ConsoleClient/bin/
src/StealthChallenge.ConsoleClient/obj/
src/StealthChallenge.MessagePack/bin/
src/StealthChallenge.MessagePack/obj/
src/StealthChallenge.Api/obj/
